  /* polices */
  @font-face {
    font-family: "Barlow-SemiBold";
    src: url("polices/Barlow-SemiBold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Fraunces-Black";
    src: url("polices/Fraunces-Black.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Fraunces-Bold";
    src: url("polices/Fraunces-Bold.ttf");
    font-weight: bold;
  }

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow-SemiBold', sans-serif;
}



/*   design laptop */
.mobile1, .mobile2 {
 display: none;
}
a{
  text-decoration: none;
  color : white ;
  font-size : 20px;
 
}
.logo
{
   color : white ;
  font-size : 20px;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding : 15px;
    height: 10vh;
}

/* Logo */
header .logo{
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}


  /* Navigation Menu */
  nav{
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a{
    padding: 5px 20px;
    margin: 0px 5px;
    color: #ffffff;
    display: block;
}

nav ul li a:hover{
    background-color:#92dfbb;
    border-radius: 20px;  
    font-weight: bold;
}
